/* CUSTOM CSS */
body{
    padding-left: 7% !important;
    padding-right: 7% !important;
}

/* logo */

#logo{
	/* display: none; */
}
.logo-image{
	display: none;
}
.logo-image-wrapper{
	/* display: none; */
}
@media (min-width: 867px) {
	#logo{
		position: relative;
		display: block;
		/* left: 0; */
		/* top: 50px; */
		/* z-index: 10001; */
	}
	.logo-image{
		display: block;
		position: absolute;
		top: 20px;
		left: 0;
		max-width: 20vw;

	}
}

@media (max-width: 866px) {
	#logo-wrapper{
		display: none;

	}
}
/* nav bar */
/* shrinking */
.shrink1 {
    position: fixed !important;
    top: 15px !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
    -webkit-backface-visibility: hidden !important;
    height: 70px;
}
#navigation ul.menu ul {
    top: 60px;
    width: 170px;
}
.admin-bar .shrink1 {
    top: 32px;
}
.place-hold-nav-wp{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 32px;
    background-color: #23282D;
}
/* .entry-header{display: none !important;} */
/* #menu-menu-1{width:100% !important;z-index:10;} */
/* .sub-menu{text-align: left;} */

/* .header-search{display:none !important;} */
/* about */
/* #menu-item-685{width:13%;text-align:center;} */
/* services */
/* #menu-item-541{width:13%;text-align:center;} */
/* process */
/* #menu-item-593{width:13%;text-align:center;} */
/* gallery */
/* #menu-item-521{width:13%;text-align:center;} */
/* blog */
/* #menu-item-516{width:13%;text-align:center;} */
/* contact */
/* #menu-item-637{width:13%;text-align:center;} */






/* home */
/* #menu-item-514{ */
	/* position: absolute; */
	/* left: 0; */
	/* width:20%; */
	/* text-align:center; */
/* } */

/* .logo-wrapper{
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	top: 5px;
	height:130px;
	width: 130px;
	background-color: white;
	transform: rotate(-45deg);
	border-bottom: 1px solid #F2F3F5;
	border-left: 1px solid #F2F3F5;
} */




/* green wrapper in carousel */
/* .home-slider-title{ */
	/* font-size: 36px; */
/* } */
.home-slide{
	padding-left: 0;
	padding-right: 0;
}
.green-wrapper{
	height: 150px;
	background-color: rgba(100,200,100,.8);
	line-height: 150px;
	/* font-size: 30px; */
}

.home-slide-title.green-wrapper{
	font-size: 36px;
}








/* owl carousel css */
.separator span{
    display: none !important;   
}

.services.carousel.owl-carousel.owl-theme.owl-loaded{
    width: 100%;
    /* margin: 0; */
    /* padding: 0; */
}

#services .container{
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;
}

.owl-stage-outer{
    width:  100%;
}







/* social media links */
.twitter-title{
	margin-bottom: 100px;
	background-color: rgba(100,200,100,.8);
	height: 140px;
	line-height: 140px;
}
.each-logo1{
	margin-top:100px;
	width:80px;
	padding-bottom: 7px;
	margin: 0px 10px;
	margin-bottom: 50px;
}
.each-logo1:hover{
	filter:brightness(30%);
	transition:filter 0.3s;
}

.aa{animation: bounceIcons 1.2s infinite linear; }
.bb{animation: bounceIcons 1.2s infinite linear;animation-delay: .1s;}
.cc{animation: bounceIcons 1.2s infinite linear;animation-delay: .2s;}
.dd{animation: bounceIcons 1.2s infinite linear;animation-delay: .3s;}
.ee{animation: bounceIcons 1.2s infinite linear;animation-delay: .4s;}

@keyframes bounceIcons{
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-7px);}
	90%{transform: translateY(-3px);}
}








/* client css */
.client-entire-wrapper{margin-top: 50px;}
.client-wrapper{
	margin: auto;
	text-align: center;
}
.each-client{
	display: inline-block;
	margin-top: 30px;
}
.client-img{
	border-radius: 50%;
	padding:35px;
	height:200px !important;
	width:200px !important;
	margin: 40px;
	margin-bottom: 30px;
	background-color:rgba(100,200,100,.8);
}
.client-img:hover{
	/* // filter:invert(90%); */
	/* // filter:brightness(70%); */
	background-color:rgba(100,200,100,.5);
	/* // border-color:white; */
	transition:background 0.4s;
}








/* contact css */
#contact .container {
	max-width: 100%;
}
#contact .container .section-content{
	/* position: absolute; */
	display: inline-block;
	width: 45%;
	margin-left: 5%;
	/* left: 0; */
	/* top: 100px; */
}
.contact_map{
	/* position: absolute; */
	display: inline-block;
	width: 45%;
	/* height: 261px !important; */
	/* overflow: hidden; */
	/* left: 50%; */
	/* top: 100px; */
}
#map-canvas{
	height: 543px !important;
}

#contact .contact-form-inputs-col{
	width: 100% !important;
}
#contact .contact-form-inputs-col.contact-form-inputs-col-2{
	padding-left: 0 !important;
	padding-right: 10px !important;
}
#contact .section-description{
	margin-bottom: 50px !important;
}
#mtscontact_form{
	margin-top: -10px !important;
}




/*********** end of home page ***************/






/* philsophy */
/* .introduction-content{ */
	/* background-color:rgba(100,200,100,.7); */
	/* width: 50%; */
/* } */
.section-description{

}
#introduction{
	position: relative;
	overflow: hidden;
	height: 50vh;
}
.philosophy-green{
	position: absolute;
	top: 0;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
	height: 100vh;
	background-color: rgba(100,200,100,.8);
	width: 400px;
	font-size: 30px;
}



/* Values */
.img-container{
	border-radius: 0;
}
.owl-lazy{
	border: 5px solid green;
	padding: 4px;
}
#introduction .section-description, #introduction .section-title{
	color: transparent;
}


#services .grid-box-inner:hover{
	background-color: rgba(100,200,100,.8);
	color: white;
}


/* Contact Page */
.contact-wrapperz{
	position: relative;
	width: 100%;
	min-height: 900px;
}
.contact-left{
	position: absolute;
	top: 80px;
	left: 0.5%;
	width: 49%;
	display: inline-block;
}
.contact-right{
	position: absolute;
	vertical-align: top;
	padding-top: 50px;
	top: 80px;
	left: 50.5%;
	width: 49%;
	display: inline-block;
}




/* Service Page */
.each-service-wrapper{
	width:100%;
	background-color: blue;
}

#post-244 .post-content{
	padding-left:0;
	padding-right: 0;
}