/* CUSTOM CSS */
/* line 8, compass/sass/style.scss */
body {
  padding-left: 7% !important;
  padding-right: 7% !important;
  background-color: white;
  padding-top: 32px;
}

/* logo */
/* line 17, compass/sass/style.scss */
#logo {
  /* display: none; */
}

/* line 20, compass/sass/style.scss */
.logo-image {
  display: none;
}

/* line 23, compass/sass/style.scss */
.logo-image-wrapper {
  /* display: none; */
  width: 350px;
}

/* line 27, compass/sass/style.scss */
.main-header {
  background-color: #fdfdfd;
  box-shadow: none;
}

@media (min-width: 867px) {
  /* line 32, compass/sass/style.scss */
  #logo {
    position: relative;
    display: block;
    /* left: 0; */
    /* top: 50px; */
    /* z-index: 10001; */
  }

  /* line 40, compass/sass/style.scss */
  .logo-image {
    display: block;
    background-color: #fdfdfd;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    border-radius: 5%;
    padding: 0 20px 20px 20px;
  }
}
@media (max-width: 866px) {
  /* line 55, compass/sass/style.scss */
  #logo-wrapper {
    display: none;
  }
}
/* nav bar */
/* shrinking */
/* line 62, compass/sass/style.scss */
.shrink1 {
  position: fixed !important;
  top: 15px !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
  -webkit-backface-visibility: hidden !important;
  height: 70px;
}

/* line 71, compass/sass/style.scss */
#navigation ul.menu ul {
  top: 60px;
  width: 170px;
}

/* line 75, compass/sass/style.scss */
.admin-bar .shrink1 {
  top: 32px;
}

/* line 78, compass/sass/style.scss */
.place-hold-nav-wp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 32px;
  background-color: #23282D;
}

/* .entry-header{display: none !important;} */
/* #menu-menu-1{width:100% !important;z-index:10;} */
/* .sub-menu{text-align: left;} */
/* .header-search{display:none !important;} */
/* about */
/* #menu-item-685{width:13%;text-align:center;} */
/* services */
/* #menu-item-541{width:13%;text-align:center;} */
/* process */
/* #menu-item-593{width:13%;text-align:center;} */
/* gallery */
/* #menu-item-521{width:13%;text-align:center;} */
/* blog */
/* #menu-item-516{width:13%;text-align:center;} */
/* contact */
/* #menu-item-637{width:13%;text-align:center;} */
/* line 108, compass/sass/style.scss */
.features-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}
/* line 114, compass/sass/style.scss */
.features-logo img {
  position: absolute;
  top: 25px;
  left: -10px;
  width: 45px;
  height: 45px;
}
/* line 123, compass/sass/style.scss */
.features-logo:hover img {
  transform: rotateY(360deg);
  transition: transform .8s;
}

/* line 131, compass/sass/style.scss */
.home-slide {
  padding-left: 0;
  padding-right: 0;
}

/* line 135, compass/sass/style.scss */
.green-wrapper {
  height: 150px;
  background-color: rgba(154, 217, 89, 0.93);
  line-height: 150px;
}

/* line 141, compass/sass/style.scss */
.home-slide-title.green-wrapper {
  font-size: 36px;
}

/* owl carousel css */
/* line 146, compass/sass/style.scss */
.separator span {
  display: none !important;
}

/* line 150, compass/sass/style.scss */
.services.carousel.owl-carousel.owl-theme.owl-loaded {
  width: 100%;
  /* margin: 0; */
  /* padding: 0; */
}

/* line 156, compass/sass/style.scss */
#services .container {
  padding: 0 !important;
  margin: 0 !important;
  margin-right: 0 !important;
  max-width: 100%;
}

/* line 163, compass/sass/style.scss */
.owl-stage-outer {
  width: 100%;
}

/* line 166, compass/sass/style.scss */
.home-slide:after {
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/* social media links */
/* line 177, compass/sass/style.scss */
.twitter-title {
  margin-bottom: 100px;
  background-color: rgba(154, 217, 89, 0.93);
  height: 140px;
  line-height: 140px;
}

/* line 183, compass/sass/style.scss */
.each-logo1 {
  margin-top: 100px;
  width: 80px;
  padding-bottom: 7px;
  margin: 0px 10px;
  margin-bottom: 50px;
}

/* line 190, compass/sass/style.scss */
.each-logo1:hover {
  filter: brightness(30%);
  transition: filter 0.3s;
}

/* line 195, compass/sass/style.scss */
.aa {
  animation: bounceIcons 1.2s infinite linear;
}

/* line 196, compass/sass/style.scss */
.bb {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .1s;
}

/* line 197, compass/sass/style.scss */
.cc {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .2s;
}

/* line 198, compass/sass/style.scss */
.dd {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .3s;
}

/* line 199, compass/sass/style.scss */
.ee {
  animation: bounceIcons 1.2s infinite linear;
  animation-delay: .4s;
}

@keyframes bounceIcons {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
  90% {
    transform: translateY(-3px);
  }
}
/* client css */
/* line 212, compass/sass/style.scss */
.client-entire-wrapper {
  margin-top: 50px;
}

/* line 213, compass/sass/style.scss */
.client-wrapper {
  margin: auto;
  text-align: center;
}

/* line 217, compass/sass/style.scss */
.each-client {
  display: inline-block;
  margin-top: 30px;
}

/* line 221, compass/sass/style.scss */
.client-img {
  border-radius: 50%;
  padding: 25px;
  height: 200px !important;
  width: 200px !important;
  margin: 40px;
  margin-bottom: 30px;
  background-color: rgba(154, 217, 89, 0.93);
  border: 5px solid #9ad959;
}

/* line 231, compass/sass/style.scss */
.client-img:hover {
  /* // filter:invert(90%); */
  filter: brightness(50%);
  /* // border-color:white; */
  transition: filter 0.4s;
}

/* contact css */
/* line 247, compass/sass/style.scss */
#contact .container {
  max-width: 100%;
}

/* line 250, compass/sass/style.scss */
#contact .container .section-content {
  /* position: absolute; */
  display: inline-block;
  width: 45%;
  margin-left: 5%;
  /* left: 0; */
  /* top: 100px; */
}

/* line 258, compass/sass/style.scss */
.contact_map {
  /* position: absolute; */
  display: inline-block;
  width: 45%;
  /* height: 261px !important; */
  /* overflow: hidden; */
  /* left: 50%; */
  /* top: 100px; */
}

/* line 267, compass/sass/style.scss */
#map-canvas {
  height: 543px !important;
}

/* line 271, compass/sass/style.scss */
#contact .contact-form-inputs-col {
  width: 100% !important;
}

/* line 274, compass/sass/style.scss */
#contact .contact-form-inputs-col.contact-form-inputs-col-2 {
  padding-left: 0 !important;
  padding-right: 10px !important;
}

/* line 278, compass/sass/style.scss */
#contact .section-description {
  margin-bottom: 50px !important;
}

/* line 281, compass/sass/style.scss */
#mtscontact_form {
  margin-top: -10px !important;
}

/* philsophy */
/* .introduction-content{ */
/* background-color:rgba(100,200,100,.7); */
/* width: 50%; */
/* } */
/* line 300, compass/sass/style.scss */
#introduction {
  position: relative;
  overflow: hidden;
  height: 50vh;
}

/* line 305, compass/sass/style.scss */
.philosophy-green {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-color: rgba(154, 217, 89, 0.93);
  width: 400px;
  font-size: 30px;
}

/* Values */
/* line 321, compass/sass/style.scss */
.img-container {
  border-radius: 0;
}

/* line 324, compass/sass/style.scss */
.owl-lazy {
  border: 5px solid green;
  padding: 4px;
}

/* line 328, compass/sass/style.scss */
#introduction .section-description, #introduction .section-title {
  color: transparent;
}

/* line 332, compass/sass/style.scss */
#services .grid-box-inner {
  padding: 50px 25px 40px 25px;
}

/* line 335, compass/sass/style.scss */
#services .grid-box-inner:hover {
  background-color: rgba(154, 217, 89, 0.4);
  color: black;
}

/* Contact Page */
/* line 352, compass/sass/style.scss */
.contact-wrapperz {
  position: relative;
  width: 100%;
  min-height: 1400px;
}

/* line 357, compass/sass/style.scss */
.contact-left {
  position: absolute;
  top: 80px;
  left: 0.5%;
  width: 49%;
  display: inline-block;
}

/* line 364, compass/sass/style.scss */
.contact-right {
  position: absolute;
  vertical-align: top;
  padding-top: 50px;
  top: 80px;
  left: 50.5%;
  width: 49%;
  display: inline-block;
}

/* Service Page */
/* line 378, compass/sass/style.scss */
.each-service-wrapper {
  width: 100%;
  position: relative;
  height: 400px;
  overflow: hidden;
}

/* line 385, compass/sass/style.scss */
#post-244 .post-content {
  padding-left: 0;
  padding-right: 0;
}

/* line 390, compass/sass/style.scss */
.service-text-left {
  position: absolute;
  left: 100px;
  top: 0;
  height: 400px;
  width: 280px;
  background-color: rgba(154, 217, 89, 0.93);
  color: white;
}

/* line 399, compass/sass/style.scss */
.service-text-right {
  position: absolute;
  right: 100px;
  top: 0;
  height: 400px;
  width: 280px;
  background-color: rgba(154, 217, 89, 0.93);
  color: white;
}

/* Process Page */
/* line 412, compass/sass/style.scss */
.process-wrapper {
  width: 800px;
  height: 700px;
  position: relative;
  margin: auto;
}

/* line 420, compass/sass/style.scss */
.process-image-background {
  position: absolute;
  width: 600px;
  height: 500px;
  /* background-color: green; */
  left: 100px;
  top: 50px;
}
/* line 427, compass/sass/style.scss */
.process-image-background img {
  filter: brightness(125%);
}

/* line 430, compass/sass/style.scss */
.process-text {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 0;
  width: 100%;
}
/* line 436, compass/sass/style.scss */
.process-text .process-actual-text {
  color: #282828;
}
/* line 440, compass/sass/style.scss */
.process-text .process1-text .process-text-title {
  padding: 40px 0 0 50px;
}
/* line 441, compass/sass/style.scss */
.process-text .process1-text .process-actual-text {
  padding: 10px 80px 0px 140px;
}
/* line 444, compass/sass/style.scss */
.process-text .process2-text .process-text-title {
  padding: 5px 0 0 30px;
}
/* line 445, compass/sass/style.scss */
.process-text .process2-text .process-actual-text {
  padding: 10px 90px 0px 140px;
}
/* line 448, compass/sass/style.scss */
.process-text .process3-text .process-text-title {
  padding: 30px 0 0 30px;
}
/* line 449, compass/sass/style.scss */
.process-text .process3-text .process-actual-text {
  padding: 10px 100px 0px 130px;
}
/* line 452, compass/sass/style.scss */
.process-text .process4-text .process-text-title {
  padding: 20px 40px 0 0;
}
/* line 453, compass/sass/style.scss */
.process-text .process4-text .process-actual-text {
  padding: 10px 140px 0px 100px;
}
/* line 456, compass/sass/style.scss */
.process-text .process5-text .process-text-title {
  padding: 10px 50px 0 0;
}
/* line 457, compass/sass/style.scss */
.process-text .process5-text .process-actual-text {
  padding: 10px 150px 0px 95px;
}
/* line 460, compass/sass/style.scss */
.process-text .process6-text .process-text-title {
  padding: 50px 50px 0 0;
}
/* line 461, compass/sass/style.scss */
.process-text .process6-text .process-actual-text {
  padding: 10px 150px 0px 90px;
}
/* line 463, compass/sass/style.scss */
.process-text img {
  margin-top: -100px;
}

/* line 468, compass/sass/style.scss */
.process-tab {
  position: absolute;
  width: 70px;
  height: 70px;
}
/* line 473, compass/sass/style.scss */
.process-tab:hover {
  cursor: pointer;
}
/* line 476, compass/sass/style.scss */
.process-tab img {
  filter: brightness(103%);
}

/* line 480, compass/sass/style.scss */
.process-1 {
  top: 400px;
  left: 10px;
}

/* line 481, compass/sass/style.scss */
.process-2 {
  top: 530px;
  left: 70px;
}

/* line 482, compass/sass/style.scss */
.process-3 {
  top: 630px;
  left: 200px;
}

/* line 483, compass/sass/style.scss */
.process-4 {
  top: 630px;
  right: 180px;
}

/* line 484, compass/sass/style.scss */
.process-5 {
  top: 530px;
  right: 55px;
}

/* line 485, compass/sass/style.scss */
.process-6 {
  top: 400px;
  right: 0px;
}

/* line 489, compass/sass/style.scss */
.active-process img {
  filter: brightness(125%);
  transform: scale(1.5, 1.5);
  transition: transform 0.3s;
}

/* line 496, compass/sass/style.scss */
.post-content {
  padding: 0 0 40px 0;
}

/* line 498, compass/sass/style.scss */
.process-text .fade-from-left {
  animation: fade-from-left 1s linear;
}

@keyframes fade-from-left {
  0% {
    margin-left: -500px;
  }
  100% {
    margin-left: 0px;
  }
}
